.similarWrapper {
  .slick-track {
    display: flex;
    gap: 15px;
    .slick-slide {
      padding: 5px;
      background: #f3f3f3;
      color: #000;
    }
  }

  .slick-dots {
    display: none !important;
  }
}
