.similarSection {
  .similarWrapper {
    .listing {
      display: flex;
      flex-wrap: wrap;
      .item {
        .moviePoster {
          span {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
        .movieTitle {
        }
      }
    }
  }
}
