.item {
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .movieLink {
    text-decoration: none;
    .moviePoster {
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
      }
    }
  }

  .movieRating {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px 0;
    gap: 5px;
  }

  .movieTitle {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    span {
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      line-height: 1.5;
      height: 48px;
    }
  }

  .watchListContainer {
    width: 100%;
    padding: 10px;
    .watchListButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: none;
      padding: 10px 0;
      gap: 5px;
      cursor: pointer;

      span {
        font-weight: 700;
      }
    }
  }
}
