.titleText {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;

  span {
    font-size: 24px;
    margin-left: 20px;
  }

  &::before {
    background: rgb(245, 197, 24);
    border-radius: 4px;
    content: '';
    align-self: flex-start;
    position: absolute;
    height: 100%;
    width: 4px;
  }
}
