@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
  font-family: Nova Square, Poppins, cursive;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #292929;
  color: #fff;
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 4px;
  --transition-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --toastify-font-family: Nova Square, Poppins, cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

button,
.notification {
  font-family: Nova Square, Poppins, cursive;
}

$media: (
  xsm: 360px,
  sm: 768px,
  md: 850px,
  lg: 1024px,
);

@mixin max-media-query($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}

@mixin min-media-query($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}
