@import '../../index.scss';

.movieDetailsSection {
  background: #292929;
  margin-bottom: 64px;
  .movieDetailsContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    @include max-media-query(sm) {
      max-width: 100%;
    }
    .movieCard {
      display: flex;
      gap: 25px;
      @include max-media-query(sm) {
        flex-wrap: wrap;
      }
      .movieCardWithPoster {
        img {
          width: 400px;
          height: auto;
          object-fit: cover;
          border-radius: 30px;
          @include max-media-query(sm) {
            max-width: 100%;
          }
        }
        @include max-media-query(sm) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .movieCardWithDetails {
        color: #fff;
        .movieDetails {
          flex-direction: column;
          display: flex;
          gap: 15px;
          .movieTitle {
          }
          .movieInfo {
            display: flex;
            gap: 10px;
            & > div {
              display: flex;
              flex-direction: column;
            }
          }
          .movieGenre {
            display: flex;
            gap: 5px;
          }
          .movieLinks {
            display: flex;
            gap: 10px;
            .watchListContainer {
              height: 32px;
              .watchListButton {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 6px 5px;
                cursor: pointer;
                background: #000;
                color: #fff;
                border: none;
              }
            }
          }
          @include max-media-query(sm) {
            align-items: center;
            text-align: center;
          }
        }
        @include max-media-query(sm) {
          width: 100%;
        }
      }
    }
  }
}
